/*Обнуление*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: rgb(36, 34, 34);
  line-height: 1;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*--------------------*/
.App {}

.AppMainPage {
  background: rgb(2, 0, 36);
  background: linear-gradient(190deg, rgba(2, 0, 36, 1) 0%, rgba(209, 209, 228, 1) 0%, rgba(232, 163, 98, 1) 100%);
  height: 100vh;
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.AppContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.AppMainPage h1 {
  font-size: 40px;
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
  font-weight: 700;
}

.AppMainPage p {
  font-size: 20px;
  margin-bottom: 30px;
  max-width: 500px;
  width: 100%;
  font-weight: 500;
}

.AppButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  width: 100%;
  padding: 10px;
  height: 50px;
  background-color: #e6903f;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  transition: all .3s;
}

.AppButton:hover {
  box-shadow: 0px 0px 20px 1px rgba(173, 132, 72, 0.6);
}